
header{
    background-color: blue;
}

h1{
    font-family:Georgia, 'Times New Roman', Times, serif
    
}

h2{
    
    font-family:Arial, Helvetica, sans-serif
}

.menu ul li{
    font-weight: bolder;
}


.container{
    padding: 20px;
}

.conteudo{
    line-height: 1.5;

}



form{
    border: solid 1px gray;
    padding:10px;

}

p{
    color: green;
}

footer{
    border-top: solid 2px red;
}
