header{
    background-color: #4480F7;
   
}

h1{
    font-family:Georgia, 'Times New Roman', Times, serif
}

h2{
    font-family:Georgia, 'Times New Roman', Times, serif
}

nav ul li{
    font-weight: bolder;
}


.container{
    padding: 20px;
}

.conteudo{
    line-height: 1.5;

}

button {
    background-color: #6144F7;
    color:white;
}

form{
    border: solid 1px gray;
    padding:10px;

}

p{
    color: green;
}

footer{
    border-top: solid 2px red;
}
